= simple_form_for @list do |f|
  = f.text_field :title, placeholder: " Title"
  %br/
  %br/
  %h3 Pick a color
  .color-theme
    .yellow-radio
      = f.radio_button :color, :yellow
    .blue-radio
      = f.radio_button :color, :blue
    .green-radio
      = f.radio_button :color, :green
    .purple-radio
      = f.radio_button :color, :purple
    .salmon-radio
      = f.radio_button :color, :salmon
  %br/
  %br/
  = f.button :submit, "Create list" 