= simple_form_for @list do |f|
  = f.input :title
  = f.radio_button :color, :red
  = f.radio_button :color, :blue
  = f.radio_button :color, :green
  = f.radio_button :color, :purple
  = f.radio_button :color, :salmon
  = f.radio_button :color, :orange
  = f.button :submit