.row
  %div{class: "title #{@theme}"}
    .back
      = link_to home_index_path do
        %i.fa.fa-angle-left
    .trash
      = link_to @list, method: :delete, data: { confirm: "Delete?" } do
        %i.fa.fa-trash-o
    .list-name
      = @list.title
      / = link_to "Edit", edit_list_path(@list)

= render @list.list_items

= render 'list_items/form'


